<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
			integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
			integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/css/style.css" />
		<title>Pdf Courses NodeJs & Passport</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
			<div class="container align-content-center">
				<a class="navbar-brand" href="/">Pdf Share</a>
				<button
					class="navbar-toggler d-lg-none border-0"
					type="button"
					data-toggle="collapse"
					data-target="#collapsibleNavId"
					aria-controls="collapsibleNavId"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<i class="fa fa-bars text-light"></i>
				</button>
				<div class="collapse navbar-collapse" id="collapsibleNavId">
					<ul class="navbar-nav mx-auto">
						<li class="nav-item active">
							<a class="nav-link" href="/dashboard">Dashboard</a>
						</li>
					</ul>
					<a class="btn btn-outline d-block" href="/users/logout">Logout</a>
				</div>
			</div>
		</nav>
		<div id="main-container" class="container"><%- body %></div>

		<footer class="text-center py-2 mt-3">
			<span id="content-footer">© Copyright 2020 - Powered by MSM</span>
		</footer>

		<script src="/jquery/jquery.js"></script>
		<script
			src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
			crossorigin="anonymous"
		></script>
		<script src="/fontawesome/js/all.js"></script>
		<script src="/bootstrap/js/bootstrap.js"></script>
	</body>
</html>
