<div class="card text-center mt-3 page-404-card">
	<div class="card-body">
		<h1 class="text-center my-2">404 Page Not Found</h1>
		<p class="lead">Ouuup's!!! on dirait que vous êtes perdu...</p>
	</div>
	<img class="card-img-top m-auto page-404" src="/images/404.png" alt="" />
</div>
