<div class="row">
	<div class="col-md-6 mx-auto">
		<div class="card mt-3">
			<div class="card-body">
				<h4 class="card-title text-center">Ajouter un fichier PDF</h4>
				<%- include('./partials/_messages')%>
				<form
					action="/api/courses/ajouter"
					method="POST"
					enctype="multipart/form-data"
				>
					<div class="form-group">
						<label for="title">Titre</label>
						<input
							type="text"
							class="form-control"
							name="title"
							id="title"
							value="<%= typeof title != 'undefined' ? title : '' %>"
							placeholder="Entrer le titre de votre"
						/>
					</div>
					<div class="form-group">
						<label for="description">Description</label>
						<textarea
							class="form-control"
							name="description"
							id="description"
							rows="3"
							aria-describedby="descriptionHelpId"
						>
						<%= typeof description != 'undefined' ? description : '' %></textarea
						>
						<small id="descriptionHelpId" class="form-text text-muted">
							Une breve description de votre document.Exple: Auteur, Contenu...
						</small>
					</div>
					<div class="form-group">
						<label for="category">Categorie</label>
						<input
							type="text"
							class="form-control"
							name="category"
							id="category"
							value="<%= typeof category != 'undefined' ? category : '' %>"
							aria-describedby="passwordHelpId"
							placeholder="Entrer le categorie de votre document"
						/>
						<small id="passwordHelpId" class="form-text text-muted">
							Choisissez une categorie.Exple: Marketing, Comptabilite...
						</small>
					</div>
					<div class="form-group">
						<label for="fileUrl">
							<input
								type="file"
								class="form-control-file"
								name="fileUrl"
								id="fileUrl"
								placeholder=""
								aria-describedby="fileHelpId"
							/>
							<i class="fa fa-download"></i>
							Telecharger un fichier pdf
						</label>
					</div>
					<button type="submit" class="btn mt-3">Enregister</button>
					<a href="/dashboard" class="btn mt-3">Annuler</a>
				</form>
			</div>
		</div>
	</div>
</div>
