<div class="w-100 d-flex justify-content-between align-items-center mt-3 mb-3">
	<p class="lead">Bonjour <%=name%> !</p>
	<a href="/api/courses/ajouter" class="btn btn-warning d-inline-block">
		Ajouter un fichier
	</a>
</div>
<div>
	<div><%- include('./partials/_messages')%></div>
	<div class="table-responsive">
		<table class="table table-borderless table-hover table-light w-100 mt-2">
			<thead class="border border-bottom">
				<tr>
					<th></th>
					<th>Titre</th>
					<th>Description</th>
					<th>Categorie</th>
					<th>Date</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<%courses.forEach( function(course){%>
				<tr>
					<td scope="row">
						<a href="/api/courses/view/<%=course._id%>" class="">
							<i class="far fa-file-pdf fa-2x text-danger mr-3"></i>
						</a>
					</td>
					<td scope="row">
						<a href="/api/courses/view/<%=course._id%>" class="">
							<%=course.title%>
						</a>
					</td>
					<td>
						<%if (course.description.length>45){%>
						<%=course.description.substring(0,45).concat('...')%> <%}else{%>
						<%=course.description%> <%}%>
					</td>
					<td><%=course.category%></td>
					<td><%=course.create_at.toLocaleString("en-GB",{hour12: false})%></td>
					<td class="d-flex">
						<a
							href="/api/courses/editer/<%=course._id%>"
							class="btn btn-sm btn-primary mx-2"
						>
							<i class="fa fa-edit"></i>
						</a>
						<form
							action="/api/courses/delete/<%=course._id%>?_method=DELETE"
							method="POST"
							class="form-inline mx-2"
						>
							<button type="submit" class="btn btn-sm btn-danger">
								<i class="fa fa-trash"></i>
							</button>
						</form>
					</td>
				</tr>
				<%})%>
			</tbody>
		</table>
	</div>
</div>
