<div class="jumbotron bg-light mt-3 py-4">
	<div class="row">
		<div class="col-md-12">
			<div id="intro" class="d-flex flex-column align-items-center">
				<p class="lead text-center">
					Vous avez lu un document PDF qui vous a beaucoup aidé partagez-le et
					aidez d'autres personnes à votre tour.
				</p>
				<a
					class="btn btn-primary btn-lg px-5 mt-3 mb-5 text-center text-uppercase"
					href="/users/login"
					role="button"
				>
					Commencer
				</a>
			</div>
		</div>
	</div>
	<div id="hero" class="row">
		<div class="col-sm-4 col-6 text-center mb-3">
			<img src="/images/pdf01.jpg" class="img-fluid w-75" alt="..." />
		</div>
		<div class="col-sm-4 col-6 text-center mb-3">
			<img src="/images/pdf02.jpg" class="img-fluid w-75" alt="..." />
		</div>
		<div class="col-sm-4 col-6 text-center mb-3">
			<img src="/images/pdf03.jpg" class="img-fluid w-75" alt="..." />
		</div>
	</div>
</div>
