<div class="row">
	<div class="col-md-6 mx-auto">
		<div class="card mt-3">
			<div class="card-body">
				<h4 class="card-title text-center">Connexion</h4>
				<%- include('./partials/_messages')%>
				<form action="/users/login" method="POST">
					<div class="form-group">
						<label for="email">Adresse email</label>
						<input
							type="email"
							class="form-control"
							name="email"
							id="email"
							value="<%= typeof email != 'undefined' ? email : '' %>"
							aria-describedby="emailHelpId"
							placeholder="Entrer votre adresse email"
						/>
						<small id="emailHelpId" class="form-text text-muted">
							adresse@email.com
						</small>
					</div>
					<div class="form-group">
						<label for="password">Mot de passe</label>
						<input
							type="password"
							class="form-control"
							name="password"
							id="password"
							value="<%= typeof password != 'undefined' ? password : '' %>"
							aria-describedby="passwordHelpId"
							placeholder="Entrer votre mot de passe"
						/>
						<small id="passwordHelpId" class="form-text text-muted">
							Le mot de passe doit contenir 6 au minimum caractères.
						</small>
					</div>

					<button type="submit" class="btn btn-warning mt-3">
						Se connecter
					</button>
				</form>
				<p class="card-text mt-3">
					Vous n'avez pas de compte?
					<a href="/users/register" class="text-warning">S'inscrire</a>
				</p>
			</div>
		</div>
	</div>
</div>
