<div class="row">
	<div class="col-md-6 mx-auto">
		<div class="card mt-3">
			<div class="card-body">
				<h4 class="card-title text-center">Inscription</h4>
				<%- include('./partials/_messages')%>
				<form action="/users/register" method="POST">
					<div class="form-group">
						<label for="name">Prénom(s)</label>
						<input
							type="text"
							class="form-control"
							name="name"
							id="name"
							value="<%= typeof name != 'undefined' ? name : '' %>"
							placeholder="Entrer votre (vos) prenom(s)"
						/>
					</div>
					<div class="form-group">
						<label for="email">Adresse email</label>
						<input
							type="email"
							class="form-control"
							name="email"
							id="email"
							value="<%= typeof email != 'undefined' ? email : '' %>"
							aria-describedby="emailHelpId"
							placeholder="Entrer votre adresse email"
						/>
						<small id="emailHelpId" class="form-text text-muted">
							adresse@email.com
						</small>
					</div>
					<div class="form-group">
						<label for="password">Mot de passe</label>
						<input
							type="password"
							class="form-control"
							name="password"
							id="password"
							value="<%= typeof password != 'undefined' ? password : '' %>"
							aria-describedby="passwordHelpId"
							placeholder="Entrer votre mot de passe"
						/>
						<small id="passwordHelpId" class="form-text text-muted">
							Le mot de passe doit contenir 6 au minimum caractères.
						</small>
					</div>
					<div class="form-group">
						<label for="passwordConf">Confirmer mot de passe</label>
						<input
							type="password"
							class="form-control"
							name="passwordConf"
							id="passwordConf"
							value="<%= typeof passwordConf != 'undefined' ? passwordConf : '' %>"
							aria-describedby="passwordHelpId"
							placeholder="Confirmer votre mot de passe"
						/>
						<small id="passwordHelpId" class="form-text text-muted">
							Le mot de passe doit contenir 6 au minimum caractères.
						</small>
					</div>
					<button type="submit" class="btn btn-warning mt-3">S'inscrire</button>
				</form>
				<p class="card-text mt-3">
					Déjà inscrit?
					<a href="/users/login" class="text-warning">Se connecter</a>
				</p>
			</div>
		</div>
	</div>
</div>
