<%- include('./partials/_messages')%>
<div class="card mt-3">
	<div class="row">
		<div class="col-md-10 m-auto">
			<div class="card-body">
				<h4 class="card-title mt-3"><%=course.title%></h4>

				<p class="mt-3 mb-3">
					<span>Categorie :</span>
					<%=course.category%>
				</p>
				<p class="card-text"><%=course.description%></p>
				<p class="text-muted text-right">
					<span>Publié le :</span>
					<cite title="Source title">
						<%=course.create_at.toLocaleString("en-GB",{hour12: false})%>
					</cite>
				</p>
				<div
					class="d-flex flex-column align-items-center justify-content-center mt-5"
				>
					<span class="far fa-file-pdf fa-5x text-danger mb-3"></span>
					<a class="btn" href="<%=course.fileUrl%>">
						<i class="fa fa-download mr-2"></i>
						Telecharger le fichier
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card mt-2">
	<div class="card-body">
		<div class="row">
			<div class="col-md-6 w-100 m-auto">
				<h4 class="card-title text-center mt-3">Que pensez-vous du document</h4>
				<form action="/api/courses/comment" method="POST">
					<div class="form-group">
						<input type="hidden" name="course" value="<%=course._id%>" />
					</div>
					<div class="form-group">
						<textarea
							class="form-control"
							name="comment"
							id="comment"
							rows="3"
							required
						></textarea>
					</div>
					<button type="submit" class="btn btn-block">Envoyer</button>
				</form>
			</div>
		</div>
	</div>
	<%if (course.comments != ''){%>
	<div class="row">
		<div class="col-md-10 m-auto">
			<div class="card-body w-100 mt-4">
				<h4 class="text-center mb-4">Les avis sur ce document</h4>
				<div class="row">
					<%if (typeof course.comments!='undefined'){%>
					<%course.comments.forEach(function(comment){%>
					<div class="col-md-4">
						<div class="d-flex flex-column border p-3 mb-3 rounded">
							<div class="d-flex align-items-center rounded">
								<span>
									<i class="fa fa-user-circle fa-2x text-muted mr-3"></i>
								</span>
								<span class=""><%=username%></span>
							</div>

							<div class="my-3"><%=comment.comment%></div>
							<div class="w-100 text-right text-muted">
								<%=comment.created_at.toLocaleString("en-GB",{hour12: false})%>
							</div>
						</div>
					</div>
					<%})%> <%}%>
				</div>
			</div>
		</div>
	</div>
	<%}%>
</div>
