body {
	background: rgb(216, 215, 215) !important;
	/* color: white !important; */
}

#main-container {
	margin-top: 55px;
	border: 1px transparent solid;
	min-height: 83vh;
}

.navbar {
	background: #522073;
}

a,
a:hover {
	/* text-decoration: none !important; */
	color: #333;
}

.text-warning,
a.text-warning:hover {
	color: #522073 !important;
}

.btn,
a.btn {
	background: #522073 !important;
	border-color: #522073 !important;
	color: white;
	border-width: 1.5px;
}

.btn:hover,
a.btn:hover {
	color: white;
	background: #b85ed1 !important;
	border-color: #b85ed1 !important;
}

.btn-danger {
	background: red !important;
	border-color: red !important;
	color: white;
	border-width: 1.5px;
}

.btn-danger:hover {
	background: rgb(250, 99, 99) !important;
	border-color: rgb(250, 99, 99) !important;
	color: white;
}

.btn.btn-outline {
	border-color: #a660a1 !important;
	border-width: 1.5px !important;
	background: none !important;
	color: white;
}
.btn.btn-outline:hover {
	background: #a660a1 !important;
}

.btn > .fa-trash {
	margin-left: 2.5px !important;
	margin-right: 2.5px !important;
}

input[type='file'] {
	display: none;
}

label[for='fileUrl'] {
	border: 1px solid #ccc;
	background: #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
	border-radius: 5px;
	transition: background 200ms ease-in-out;
	margin-bottom: 0;
	margin-top: 12px;
}

label[for='fileUrl']:hover,
label[for='fileUrl']:focus {
	background: #c39bc1;
}

footer {
	background: #522073;
	color: white;
}
.page-404 {
	width: 45%;
}

@media all and (max-width: 576px) {
	.page-404 {
		width: 55%;
	}
}

@media all and (max-width: 425px) {
	.page-404-card h1 {
		font-size: 2rem !important;
	}

	.page-404 {
		width: 80%;
	}
}
